@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.sidebar {
  background-image: url("./image/sideBg.png");
  background-size: cover;
}

.contactUs_section {
    background: url("./image/Frame11.svg");
    background-size: cover;
    background-position: top right;
}

.bar {
  width: 10px;
  height: 70px;
  background: #EA7052;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
    background: #301446;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}


@media screen and (min-width: 768px) {
  .sidebar {
    min-height: 100vh;
  }
}
